.AboutMe_container {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    background-color: rgba(249, 249, 249,0.8);
    padding: 30px;
    border-radius: 15px;  /* 테두리 둥글게 */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* 그림자 효과 */
}

.AboutMe_title {
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px; /* 아래 여백 */
    color: #2c3e50;
    border-bottom: 2px solid #8e44ad;
    padding-bottom: 10px;
}

.Info-List{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*한 줄에 3개씩*/ 
    justify-content: center; /*가로 정렬*/
    margin-left: auto; 
    margin-right: auto; 
    margin: 0 auto;
    gap: 20px; /*간격*/
}

.Group{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10px;
}

img{
    width: 50px;
    height: auto;
}

.Text{
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    justify-content: center; /* 텍스트 정렬 */
    text-align: left;
}

.Type{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
}
.Data{
    color: rgb(0, 0, 0);
    font-size: 17px;
}
