
body {
    background-color: #000000;
    display: flex; /*전체 채움 -> footer 밀림*/
    flex-direction: column; 
    margin: 0;
    padding: 0; 
    min-height: 100vh; /* 뷰포트 전체 높이를 사용 */

}
.Section {
    margin: 5px;
    padding: 5px;
    flex: 1;
    align-self: center;
    justify-content: center; /* 중앙 정렬 */
    scroll-margin-top: 80px; /* 네비게이션 바의 높이만큼 여유 추가 */
    padding-top: 20px;      /* 추가적으로 보기 좋게 상단 여백 */
}
/*footer라는 클래스에 적용할 CSS*/    
.footer{
    background-color: #501d8e;
    color: #ffffff; /*글자 색*/
    text-align: right;
    padding: 10px 0;
    width: 100%;
}
.Sample{
    color: #ffffff;
}

.Intro_Section, .AboutMe_Section, .Skills_Section, .Career_Section, .Archiving_Section, .Activity_Section{
   /* border: 1px solid #ffffff;*/
    margin-bottom: 70px;
    padding-top: 100px;
}
