body {
    background-color: #000000;
    display: flex; /*전체 채움 -> footer 밀림*/
    flex-direction: column; 
    margin: 0;
    padding: 0; 
    min-height: 100vh; /* 뷰포트 전체 높이를 사용 */

}
div {
    margin: 5px;
    padding: 5px;
    flex: 1;
    align-self: center;
}
/*footer라는 클래스에 적용할 CSS*/    
.footer{
    background-color: #501d8e;
    color: #ffffff; /*글자 색*/
    text-align: right;
    padding: 10px 0;
    width: 100%;
}
.Sample{
    color: aliceblue;
}
.Career_Section{
    border: 1px solid #ffffff;/*영역 확인용*/
    width: 80%;
    position: relative;
    display: flex;
}
.Archiving_Section{
    width: 80%;
    position: relative;
    display: flex;
}
.Intro_Section{
    width: 80%;
    display: flex;
}